.*
!.github/
!.gitignore
!.jshintrc
!.jshintignore
!.jscsrc
!tests/content/.htaccess
*.jar
*.xpi
*.bak*
*.orig
*.pyc

# build and dist directories in the root folder
/build/
/dist/
/logs/

/dev_env/browsers/
/dev_env/node/
/dev_env/python/
/node_modules/

/tests/mozmill/data
/tests/mozmill/mozmill-tests
