.*
!.gitignore
!.jshintrc
!.jscsrc
!tests/content/.htaccess
*.jar
*.xpi
*.bak*
*.orig
*.pyc

# build and dist directories in the root folder
/build/
/dist/
/logs/

/tests/mozmill/data
/tests/mozmill/mozmill-tests
