####
# FILES
####

.*
!.github/
!.gitignore
!.babelrc
!.eslintrc.js
!.eslintignore
!.jshintrc
!.jshintignore
!.jscsrc
!tests/content/.htaccess
*.jar
*.xpi
*.bak*
*.orig
*.pyc

####
# DIRECTORIES
####

# NOTE:
#   To allow directories to be symlinks, do not append slashes to the dirname.

/build
/dist
/logs

/dev_env/browsers
/dev_env/node
/dev_env/python
/node_modules

/tests/mozmill/data
/tests/mozmill/mozmill-tests
