prefwindow .chromeclass-toolbar {
	display: -moz-box !important; /* Ignore toolbar collapse button on OS X */
}

prefwindow {
   /* Must be wide enough to accommodate locales with long translations of General pane labels. */
   width: 40em;
}
prefwindow > prefpane > vbox.content-box {
   height: 30em;
}

radio[pane] {
	min-width: 5.5em;
	height: 48px;
	-moz-box-align: center;
	-moz-box-pack: end;
}

.statusLine {
	margin: .75em 0;
	font-size: .85em;
}

/* General pane */
#requestpolicyPrefpaneGeneral grid row hbox:first-child {
	-moz-box-pack: end; /* Right-justify left column */
	-moz-box-align : end; /* Keep the labels at the bottom so they line up with the right column */
}

.temporaryPermissionsCell {
    list-style-image:
        url(chrome://requestpolicy/skin/dot.png);
    -moz-box-pack : center;
}

.temporaryPermissionsCell label {
    display: none;
}

/* Whitelist pane */
listcol.temporary {
	width : 8em;
}

listcol#originToDestinationOriginColumn {
	min-width : 12em;
}
