@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'),
        url('res/OpenSans-Regular.ttf') format('truetype'),
}

body {
	background-color: #EEE;
}
.grid {
	background-color: #FFF;
}
.content {
	padding: 10px;
	font-family: 'Open Sans',Helvetica,arial,freesans,clean,sans-serif;
	text-align: justify;
}
.centered {
	text-align: center;
}
.download {
	background-color: #7C9E00;
	border-radius: 2px;
	cursor: pointer;
}
.contributor-list {
	list-style-type:none;
	margin:0;
	padding:0;
}
.contributor-list li {
	display:inline-block;
	padding:5px;
}

.mainheader {
	background-color: #A90329;
	color: #fff;
}

.mainheader a {
	color: #fff;
}

.mainheader h1 {
	font-size: 2.6em;
	margin-bottom: 0;
}

a {
	color: #08C;
	text-decoration: none;
}

.content img {
	box-shadow: 1px 1px 2px 2px #ccc;
}