#requestpolicyStatusbarIcon {
	list-style-image: url(chrome://requestpolicy/skin/requestpolicy-statusbar-allowed.png);
}

#requestpolicyStatusbarIcon[blocked="true"] {
    list-style-image: url(chrome://requestpolicy/skin/requestpolicy-statusbar-blocked.png);
}

#requestpolicyStatusbarIcon[disabled="true"] {
    list-style-image: url(chrome://requestpolicy/skin/requestpolicy-statusbar-disabled.png);
}

.requestpolicyTemporary {
	font-style: italic;
}

.requestpolicyBlockedHeading {
	color: #977;
}

.requestpolicyBlocked {
	color: #600;
}

.requestpolicyAllowedHeading {
	color: #797;
}

.requestpolicyAllowed {
	color: #060;
}

.requestpolicyAllowOriginToDest {
	font-weight: bold;
}