/*********************************************
 * Statusbar
 *********************************************/
/*
#requestpolicyStatusbar {
  padding-left: 3px;
  padding-right: 3px;
  cursor: pointer;
  list-style-image:
    url(chrome://requestpolicy/skin/requestpolicy-icon-allowed.png);
}

#requestpolicyStatusbar[requestpolicyBlocked="true"] {
  list-style-image:
    url(chrome://requestpolicy/skin/requestpolicy-icon-blocked.png);
}

#requestpolicyStatusbar[requestpolicyPermissive="true"] {
  list-style-image:
    url(chrome://requestpolicy/skin/requestpolicy-icon-disabled.png);
}

#requestpolicyStatusbar[iconStyle="large"] {
  list-style-image:
    url(chrome://requestpolicy/skin/requestpolicy-statusbar-allowed.png);
}

#requestpolicyStatusbar[iconStyle="large"][requestpolicyBlocked="true"] {
  list-style-image:
    url(chrome://requestpolicy/skin/requestpolicy-statusbar-blocked.png);
}

#requestpolicyStatusbar[iconStyle="large"][requestpolicyPermissive="true"] {
  list-style-image:
    url(chrome://requestpolicy/skin/requestpolicy-statusbar-disabled.png);
}

#requestpolicyStatusbar[iconStyle="none"] {
  display : none;
}
*/

/*********************************************
 * Context menu
 *********************************************/
#requestpolicyContextMenu {
  list-style-image:
    url(chrome://requestpolicy/skin/requestpolicy-icon-allowed.png);
}

#requestpolicyContextMenu[requestpolicyBlocked="true"] {
  list-style-image:
    url(chrome://requestpolicy/skin/requestpolicy-icon-blocked.png);
  color: #a00;
}

#requestpolicyContextMenu[requestpolicyPermissive="true"] {
  list-style-image:
    url(chrome://requestpolicy/skin/requestpolicy-icon-disabled.png);
  color: #d07100;
}

/*********************************************
 * Toolbar
 *********************************************/
toolbar #requestpolicyToolbarButton dropmarker {
  /* Don't display a "down arrow" next to the button. We might actually
     want to display this, but I couldn't get rid of the down arrow
     appearing to be a separate button on mouseover. I'd rather there
     be no dropmarker than the separate clickable dropmarker that does
     the same thing. */
  display: none !important;
}

#palette-box #requestpolicyToolbarButton {
  list-style-image:
    url(chrome://requestpolicy/skin/requestpolicy-icon-24-blocked.png);
}

toolbar #requestpolicyToolbarButton {
  list-style-image:
    url(chrome://requestpolicy/skin/requestpolicy-icon-24-allowed.png);
}

/* The reason for the two similar descriptions:
 *  1) "toolbar[state=whatever]" is for the addons bar.
 *  2) "[state=whatever] toolbar" is for the tabbox, status bar, navbar,
 *     bookmarks toolbars.
 * We could probably avoid this by changing overlay.js to set attributes
 * on a parent of the addons bar rather than the addons bar itself.
 */
toolbar[requestpolicyBlocked="true"] #requestpolicyToolbarButton,
[requestpolicyBlocked="true"] toolbar #requestpolicyToolbarButton {
  list-style-image:
    url(chrome://requestpolicy/skin/requestpolicy-icon-24-blocked.png);
}

toolbar[requestpolicyPermissive="true"] #requestpolicyToolbarButton,
[requestpolicyPermissive="true"] toolbar #requestpolicyToolbarButton {
  list-style-image:
    url(chrome://requestpolicy/skin/requestpolicy-icon-24-disabled.png);
}

toolbar[iconsize="small"] #requestpolicyToolbarButton {
  list-style-image:
    url(chrome://requestpolicy/skin/requestpolicy-icon-allowed.png);
}

toolbar[iconsize="small"][requestpolicyBlocked="true"] #requestpolicyToolbarButton,
[requestpolicyBlocked="true"] toolbar[iconsize="small"] #requestpolicyToolbarButton
  {
  list-style-image:
    url(chrome://requestpolicy/skin/requestpolicy-icon-blocked.png);
}

toolbar[iconsize="small"][requestpolicyPermissive="true"] #requestpolicyToolbarButton,
[requestpolicyPermissive="true"] toolbar[iconsize="small"] #requestpolicyToolbarButton
  {
  list-style-image:
    url(chrome://requestpolicy/skin/requestpolicy-icon-disabled.png);
}

/*********************************************
 * Menu contents
 *********************************************/
#rp-popup {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
}
#rp-contents {
  background-color: #ffffff;
}
#rp-main {
  padding: 10px 10px 10px 10px;
  font-size: 13px;
}

#rp-origins-destinations {
  width : 200px;
  margin-right: 10px;
}

/*
#rp-origins-destinations .rp-od-item {
  border: 1px solid #ffffff;
  border-right: 0;
  padding: 2px 0 2px 8px;
  margin: 0;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
*/
.rp-od-item {
  border: 1px solid #ffffff;
  padding: 0 12px 0 12px;
  margin: 0px 4px 0px 4px;
  border-radius: 3px;
}

#rp-origins-destinations [selected-origin="true"] {
  border-color: #ddd !important;
  background-color: #eaeaea;
}
#rp-origins-destinations [selected-origin="false"]:hover {
  border-color: #eee !important;
  background-color: #f1f1f1;
}

#rp-blocked-destinations [selected-dest="true"] {
  border-color: #edd !important;
  background-color: #ffe1e1;
}
#rp-blocked-destinations [selected-dest="false"]:hover {
  border-color: #fee !important;
  background-color: #fff1f1;
}

#rp-mixed-destinations [selected-dest="true"] {
  border-color: #F2E2C7 !important;
  background-color: #FFF3DE;
}
#rp-mixed-destinations [selected-dest="false"]:hover {
  border-color: #FFF3DE !important;
  background-color: #FFFAF2;
}

#rp-allowed-destinations [selected-dest="true"] {
  border-color: #ded !important;
  background-color: #e1ffe1;
}
#rp-allowed-destinations [selected-dest="false"]:hover {
  border-color: #efe !important;
  background-color: #f1fff1;
}

#rp-details .rp-od-item:hover {
  border-color: #eee !important;
  background-color: #f1f1f1;
}
#rp-details .rp-allow {
  /* This should probably stay the same color as the allowed destinations. */
  color: #484;
}
#rp-details .rp-deny {
  /* This should probably stay the same color as the blocked destinations. */
  color: #844;
}
#rp-details .rp-temporary {
  font-style: italic;
  font-size: 0.9em;
  color: #999;
}

#rp-details .rp-stop-rule[selected-rule="true"] {
  text-decoration: line-through;
}

#rp-details .rp-start-rule[selected-rule="true"] {
  text-decoration: underline;
}

#rp-rules-remove label:last-child {
  margin-bottom: 14px;
}

#rp-origin {
  font-size: 1.2em;
  color : #555;
  padding-right: 10px;
}

.rp-label-list {
  /*margin-left : 10px;*/
}
#rp-other-origins {
  color: #444;
  margin-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #eee;
}
#rp-other-origins-title {
  color: #aaa;
}

#rp-blocked-destinations {
  color: #844;
  margin-top: 1em;
}
#rp-blocked-destinations-title {
  color: #caa;
}

#rp-mixed-destinations {
  color: #AA7215;
  margin-top: 1em;
}
#rp-mixed-destinations-title {
  color: #CCAF7D;
}

#rp-allowed-destinations {
  color: #484;
  margin-top: 1em;
}
#rp-allowed-destinations-title {
  color: #aca;
}

#rp-details {
  padding: 0 1em 0 1em;
  border-left: 1px solid #eee;
  width: 500px !important;
}

#rp-import-old-rules {
  border-top: 1px solid #ddd;
  padding: 7px 5px 9px 5px;
  -moz-box-pack: center;
}
#rp-import-old-rules label {
  color: #2550ba;
  font-size: 14px;
  margin: 0 10px 0 10px;
}
#rp-import-old-rules label:hover {
  text-decoration: underline;
  cursor: pointer;
}

#rp-footer {
  border-top: 1px solid #ddd;
  padding: 0 5px 2px 5px;
  -moz-box-pack: end;
}
#rp-footer-links {
  margin-top: 4px;
}
.rp-footer-link {
  color: #888;
  font-size: 11px;
  margin: 0 10px 0 10px;
}
.rp-footer-link:hover {
  color: #555;
  text-decoration: underline;
  cursor: pointer;
}

/*********************************************
 * Request Log
 *********************************************/
#requestpolicy-requestLog-close {
  -moz-appearance: none;
  padding: 0 !important;
  margin-right: 4px;
  border: none !important;
  background: transparent !important;
  list-style-image: url(chrome://requestpolicy/skin/close.png);
  -moz-image-region: rect(0px, 16px, 16px, 0px);
  -moz-box-align: end;
}

#requestpolicy-requestLog-close :hover {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}
