/*********************************************
 * Statusbar
 *********************************************/
#requestpolicyStatusbar {
  padding-left: 3px;
  padding-right: 3px;
  cursor: pointer;
  list-style-image:
    url(chrome://requestpolicy/skin/requestpolicy-icon-allowed.png);
}

#requestpolicyStatusbar[requestpolicyBlocked="true"] {
  list-style-image:
    url(chrome://requestpolicy/skin/requestpolicy-icon-blocked.png);
}

#requestpolicyStatusbar[requestpolicyPermissive="true"] {
  list-style-image:
    url(chrome://requestpolicy/skin/requestpolicy-icon-disabled.png);
}

#requestpolicyStatusbar[iconStyle="large"] {
  list-style-image:
    url(chrome://requestpolicy/skin/requestpolicy-statusbar-allowed.png);
}

#requestpolicyStatusbar[iconStyle="large"][requestpolicyBlocked="true"] {
  list-style-image:
    url(chrome://requestpolicy/skin/requestpolicy-statusbar-blocked.png);
}

#requestpolicyStatusbar[iconStyle="large"][requestpolicyPermissive="true"] {
  list-style-image:
    url(chrome://requestpolicy/skin/requestpolicy-statusbar-disabled.png);
}

#requestpolicyStatusbar[iconStyle="none"] {
  display : none;
}

/*********************************************
 * Context menu
 *********************************************/
#requestpolicyContextMenu {
  list-style-image:
    url(chrome://requestpolicy/skin/requestpolicy-icon-allowed.png);
}

#requestpolicyContextMenu[requestpolicyBlocked="true"] {
  list-style-image:
    url(chrome://requestpolicy/skin/requestpolicy-icon-blocked.png);
  color: #a00;
}

#requestpolicyContextMenu[requestpolicyPermissive="true"] {
  list-style-image:
    url(chrome://requestpolicy/skin/requestpolicy-icon-disabled.png);
  color: #d07100;
}

/*********************************************
 * Toolbar
 *********************************************/
toolbar #requestpolicyToolbarButton dropmarker {
  /* Don't display a "down arrow" next to the button. We might actually
     want to display this, but I couldn't get rid of the down arrow
     appearing to be a separate button on mouseover. I'd rather there
     be no dropmarker than the separate clickable dropmarker that does
     the same thing. */
  display: none !important;
}

#palette-box #requestpolicyToolbarButton {
  list-style-image:
    url(chrome://requestpolicy/skin/requestpolicy-icon-24-blocked.png);
}

toolbar #requestpolicyToolbarButton {
  list-style-image:
    url(chrome://requestpolicy/skin/requestpolicy-icon-24-allowed.png);
}

/* The reason for the two similar descriptions:
 *  1) "toolbar[state=whatever]" is for the addons bar.
 *  2) "[state=whatever] toolbar" is for the tabbox, status bar, navbar,
 *     bookmarks toolbars.
 * We could probably avoid this by changing overlay.js to set attributes
 * on a parent of the addons bar rather than the addons bar itself.
 */
toolbar[requestpolicyBlocked="true"] #requestpolicyToolbarButton,
[requestpolicyBlocked="true"] toolbar #requestpolicyToolbarButton {
  list-style-image:
    url(chrome://requestpolicy/skin/requestpolicy-icon-24-blocked.png);
}

toolbar[requestpolicyPermissive="true"] #requestpolicyToolbarButton,
[requestpolicyPermissive="true"] toolbar #requestpolicyToolbarButton {
  list-style-image:
    url(chrome://requestpolicy/skin/requestpolicy-icon-24-disabled.png);
}

toolbar[iconsize="small"] #requestpolicyToolbarButton {
  list-style-image:
    url(chrome://requestpolicy/skin/requestpolicy-icon-allowed.png);
}

toolbar[iconsize="small"][requestpolicyBlocked="true"] #requestpolicyToolbarButton,
[requestpolicyBlocked="true"] toolbar[iconsize="small"] #requestpolicyToolbarButton
  {
  list-style-image:
    url(chrome://requestpolicy/skin/requestpolicy-icon-blocked.png);
}

toolbar[iconsize="small"][requestpolicyPermissive="true"] #requestpolicyToolbarButton,
[requestpolicyPermissive="true"] toolbar[iconsize="small"] #requestpolicyToolbarButton
  {
  list-style-image:
    url(chrome://requestpolicy/skin/requestpolicy-icon-disabled.png);
}

/*********************************************
 * Menu contents
 *********************************************/
#rp-popup {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
}
#rp-contents {
  background-color: #ffffff;
  width: 600px;
}
#rp-main {
  width: 100%;
  font-size: 0.9em;
  padding: 10px 10px 10px 10px;
}

#rp-origins-destinations {
  width : 200px;
}

#rp-origins-destinations .rp-od-item {
  border: 1px solid #ffffff;
  border-right: 0;
  padding: 2px 0 2px 5px;
  margin: 0;
}
#rp-origins-destinations .rp-od-item:hover {
  border-color: #eee;
  background-color: #fafafa;
}

#rp-origin {
  font-size: 1.2em;
  color : #555;
  padding-right: 10px;
}
#rp-origin {
  border: 1px solid #ffffff;
  /*border-color: #eee !important;*/
  background-color: #eee;
}

.rp-label-list {
  margin-left : 1em;
}
#rp-other-origins {
  color: #666;
  margin-top: 1em;
}
#rp-other-origins-label {
  color: #aaa;
}

#rp-blocked-destinations {
  color: #844;
  margin-top: 1em;
}
#rp-blocked-destinations-label {
  color: #caa;
}

#rp-allowed-destinations {
  color: #484;
  margin-top: 1em;
}
#rp-allowed-destinations-label {
  color: #aca;
}

#rp-details {
  padding: 1em;
  border: 1px solid #eee;
  background-color: #f9f9f9;
  width: 100%;
}

#rp-footer {
  border-top: 1px solid #ddd;
  font-size: 0.9em;
}
#rp-footer-links {
  margin-top: 4px;
}
.rp-footer-link {
  color: #8f8f8f;
  font-size: 11px;
}
.rp-footer-link:hover {
  color: #3073c5;
  cursor: pointer;
}

/*********************************************
 * Request Log
 *********************************************/
#requestpolicy-requestLog-close {
  -moz-appearance: none;
  padding: 0 !important;
  margin-right: 4px;
  border: none !important;
  background: transparent !important;
  list-style-image: url(chrome://requestpolicy/skin/close.png);
  -moz-image-region: rect(0px, 16px, 16px, 0px);
  -moz-box-align: end;
}

#requestpolicy-requestLog-close :hover {
  -moz-image-region: rect(0px, 32px, 16px, 16px);
}

/*********************************************
 * Fennec
 *********************************************/
#requestpolicyStatusbar.requestpolicyFennec {
  -moz-border-radius: 8px;
  border: 2px solid #444;
  -moz-border-bottom-colors: #aaa #888;
  -moz-border-top-colors: #666 #444;
  -moz-border-left-colors: #aaa #888;
  -moz-border-right-colors: #aaa #888;
  padding-left: 4px;
  margin: 0px;
  width: 40px;
  height: 40px;
  background-color: #eee;
  -moz-user-focus: ignore;
}

#requestpolicyStatusbarPopup[fennec="true"],#requestpolicyStatusbarPopup[fennec="true"] menupopup
  {
  border: 2px solid #444;
  -moz-border-bottom-colors: #aaa #888;
  -moz-border-top-colors: #666 #444;
  -moz-border-left-colors: #aaa #888;
  -moz-border-right-colors: #aaa #888;
  background-color: #eee;
  -moz-user-focus: ignore;
}