
/*
 * Case: customizing.
 * ==> red flag.
 * (the !important keyword is necessary.)
 */
/* 32px is the default icon size in SeaMonkey */
toolbar > toolbarpaletteitem #rpcontinuedToolbarButton,
#palette-box #rpcontinuedToolbarButton {
  list-style-image:
    url(chrome://rpcontinued/skin/requestpolicy-icon-32-blocked.png) !important;
}
toolbar[iconsize="small"] > toolbarpaletteitem #rpcontinuedToolbarButton {
  list-style-image:
    url(chrome://rpcontinued/skin/requestpolicy-icon-blocked.png) !important;
}


/*
 * Case: "default" (no other selector matched) and
 * Case: something has been blocked
 * ==> red flag.
 */

/* default: */ toolbar #rpcontinuedToolbarButton,
/* blocked: */ toolbar #rpcontinuedToolbarButton[rpcontinuedBlocked="true"] {
  list-style-image:
    url(chrome://rpcontinued/skin/requestpolicy-icon-32-blocked.png);
}
/* default: */ toolbar[iconsize="small"] #rpcontinuedToolbarButton,
/* blocked: */ toolbar[iconsize="small"] #rpcontinuedToolbarButton[rpcontinuedBlocked="true"] {
  list-style-image:
    url(chrome://rpcontinued/skin/requestpolicy-icon-blocked.png);
}


/*
 * Case: nothing has been blocked.
 * ==> grey flag.
 */

/* allowed: */ toolbar #rpcontinuedToolbarButton[rpcontinuedBlocked="false"] {
  list-style-image:
    url(chrome://rpcontinued/skin/requestpolicy-icon-32-allowed.png);
}
/* allowed: */ toolbar[iconsize="small"] #rpcontinuedToolbarButton[rpcontinuedBlocked="false"] {
  list-style-image:
    url(chrome://rpcontinued/skin/requestpolicy-icon-allowed.png);
}


/*
 * Case: blocking is disabled.
 * ==> yellow flag.
 */

toolbar #rpcontinuedToolbarButton[rpcontinuedPermissive="true"] {
  list-style-image:
    url(chrome://rpcontinued/skin/requestpolicy-icon-32-disabled.png);
}
toolbar[iconsize="small"] #rpcontinuedToolbarButton[rpcontinuedPermissive="true"] {
  list-style-image:
    url(chrome://rpcontinued/skin/requestpolicy-icon-disabled.png);
}
