/*********************************************
 * ________________ Overview _________________
 *
 * The menu icon. To be distinguished:
 *  - different icon sizes (16px, 24px, 32px)
 *  - different flag colors:
 *        (note the order. the rule with
 *        the highest number will match.)
 *    (1) red: "default"
 *    (2) grey: nothing blocked
 *    (3) yellow: blocking is disabled
 *    (4) red: requests have been blocked _OR_
 *        the UI is currently being customized
 * Also to be considered:
 *  - different firefox versions
 *    - Australis (Firefox 29)
 *
 *********************************************
 * ___________ detecting Icon Size ___________
 *
 * Australis:
 *    the size/place of the buttons is detected
 *    via the "cui-areatype" attribute.
 * non-Australis:
 *    the selector includes the
 * parent toolbar[iconsize="..."]
 *
 *********************************************
 * ___________ customizing the UI ____________
 *
 * the toolbarbutton is wrapped in
 * toolbarpaletteitem[place="..."].
 * Places can be:
 *   palette (32px), panel (32px), toolbar
 * this is the same for Australs and non-
 * Australis firefox versions.
 *
 *********************************************
 */

@import url("toolbarbutton-variables.css");

/*
 * Case: customizing.
 * ==> red flag.
 * (the !important keyword is necessary.)
 */
toolbarpaletteitem #/* @echo ALPHABETICAL_ID */ToolbarButton,
toolbar[iconsize="small"] > toolbarpaletteitem #/* @echo ALPHABETICAL_ID */ToolbarButton {
  list-style-image: var(--rpc-toolbarbutton-icon-blocked-16) !important;
}
toolbar > toolbarpaletteitem #/* @echo ALPHABETICAL_ID */ToolbarButton,
toolbar[iconsize="large"] > toolbarpaletteitem #/* @echo ALPHABETICAL_ID */ToolbarButton {
  list-style-image: var(--rpc-toolbarbutton-icon-blocked-24) !important;
}
toolbarpaletteitem[place="palette"] #/* @echo ALPHABETICAL_ID */ToolbarButton,
toolbarpaletteitem[place="panel"] #/* @echo ALPHABETICAL_ID */ToolbarButton {
  list-style-image: var(--rpc-toolbarbutton-icon-blocked-32) !important;
}


/*
 * Case: "default" (no other selector matched) and
 * Case: something has been blocked
 * ==> red flag.
 */

/*** Australis only: (the new menu) ***/
/* default: */ #/* @echo ALPHABETICAL_ID */ToolbarButton[cui-areatype="menu-panel"],
/* blocked: */ #/* @echo ALPHABETICAL_ID */ToolbarButton[cui-areatype="menu-panel"][rpcontinuedBlocked="true"] {
  list-style-image: var(--rpc-toolbarbutton-icon-blocked-32);
}
/*** non-Australis only ***/
/* default: */ toolbar[iconsize="large"] #/* @echo ALPHABETICAL_ID */ToolbarButton,
/* blocked: */ toolbar[iconsize="large"] #/* @echo ALPHABETICAL_ID */ToolbarButton[rpcontinuedBlocked="true"] {
  list-style-image: var(--rpc-toolbarbutton-icon-blocked-24);
}
/*** "normal" toolbars (16px icons) ***/
/** Australis: **/
/* default: */ #/* @echo ALPHABETICAL_ID */ToolbarButton[cui-areatype="toolbar"],
/* blocked: */ #/* @echo ALPHABETICAL_ID */ToolbarButton[cui-areatype="toolbar"][rpcontinuedBlocked="true"],
/** non-Australis: **/
/* default: */ toolbar[iconsize="small"] #/* @echo ALPHABETICAL_ID */ToolbarButton,
/* blocked: */ toolbar[iconsize="small"] #/* @echo ALPHABETICAL_ID */ToolbarButton[rpcontinuedBlocked="true"] {
  list-style-image: var(--rpc-toolbarbutton-icon-blocked-16);
}


/*
 * Case: nothing has been blocked.
 * ==> grey flag.
 */


/*** Australis only: (the new menu) ***/
/* allowed: */ #/* @echo ALPHABETICAL_ID */ToolbarButton[cui-areatype="menu-panel"][rpcontinuedBlocked="false"] {
  list-style-image: var(--rpc-toolbarbutton-icon-allowed-32);
}
/*** non-Australis only ***/
/* allowed: */ toolbar[iconsize="large"] #/* @echo ALPHABETICAL_ID */ToolbarButton[rpcontinuedBlocked="false"] {
  list-style-image: var(--rpc-toolbarbutton-icon-allowed-24);
}
/*** "normal" toolbars (16px icons) ***/
/** selectors for Australis **/
/* allowed: */ #/* @echo ALPHABETICAL_ID */ToolbarButton[cui-areatype="toolbar"][rpcontinuedBlocked="false"],
/** selectors for non-Australis **/
/* allowed: */ toolbar[iconsize="small"] #/* @echo ALPHABETICAL_ID */ToolbarButton[rpcontinuedBlocked="false"] {
  list-style-image: var(--rpc-toolbarbutton-icon-allowed-16);
}

/*
 * Case: blocking is disabled.
 * ==> yellow flag.
 */

/*** Australis only: (the new menu) ***/
#/* @echo ALPHABETICAL_ID */ToolbarButton[cui-areatype="menu-panel"][rpcontinuedPermissive="true"] {
  list-style-image: var(--rpc-toolbarbutton-icon-disabled-32);
}
/*** non-Australis only ***/
toolbar[iconsize="large"] #/* @echo ALPHABETICAL_ID */ToolbarButton[rpcontinuedPermissive="true"] {
  list-style-image: var(--rpc-toolbarbutton-icon-disabled-24);
}
/*** "normal" toolbars (16px icons) ***/
/** Australis: **/
#/* @echo ALPHABETICAL_ID */ToolbarButton[cui-areatype="toolbar"][rpcontinuedPermissive="true"],
/** non-Australis: **/
toolbar[iconsize="small"] #/* @echo ALPHABETICAL_ID */ToolbarButton[rpcontinuedPermissive="true"] {
  list-style-image: var(--rpc-toolbarbutton-icon-disabled-16);
}
