@import url("toolbarbutton-variables.css");

/*
 * Case: customizing.
 * ==> red flag.
 * (the !important keyword is necessary.)
 */
/* 32px is the default icon size in SeaMonkey */
toolbar > toolbarpaletteitem #/* @echo ALPHABETICAL_ID */ToolbarButton,
#palette-box #/* @echo ALPHABETICAL_ID */ToolbarButton {
  list-style-image: var(--rpc-toolbarbutton-icon-blocked-32) !important;
}
toolbar[iconsize="small"] > toolbarpaletteitem #/* @echo ALPHABETICAL_ID */ToolbarButton {
  list-style-image: var(--rpc-toolbarbutton-icon-blocked-16) !important;
}


/*
 * Case: "default" (no other selector matched) and
 * Case: something has been blocked
 * ==> red flag.
 */

/* default: */ toolbar #/* @echo ALPHABETICAL_ID */ToolbarButton,
/* blocked: */ toolbar #/* @echo ALPHABETICAL_ID */ToolbarButton[rpcontinuedBlocked="true"] {
  list-style-image: var(--rpc-toolbarbutton-icon-blocked-32);
}
/* default: */ toolbar[iconsize="small"] #/* @echo ALPHABETICAL_ID */ToolbarButton,
/* blocked: */ toolbar[iconsize="small"] #/* @echo ALPHABETICAL_ID */ToolbarButton[rpcontinuedBlocked="true"] {
  list-style-image: var(--rpc-toolbarbutton-icon-blocked-16);
}


/*
 * Case: nothing has been blocked.
 * ==> grey flag.
 */

/* allowed: */ toolbar #/* @echo ALPHABETICAL_ID */ToolbarButton[rpcontinuedBlocked="false"] {
  list-style-image: var(--rpc-toolbarbutton-icon-allowed-32);
}
/* allowed: */ toolbar[iconsize="small"] #/* @echo ALPHABETICAL_ID */ToolbarButton[rpcontinuedBlocked="false"] {
  list-style-image: var(--rpc-toolbarbutton-icon-allowed-16);
}


/*
 * Case: blocking is disabled.
 * ==> yellow flag.
 */

toolbar #/* @echo ALPHABETICAL_ID */ToolbarButton[rpcontinuedPermissive="true"] {
  list-style-image: var(--rpc-toolbarbutton-icon-disabled-32);
}
toolbar[iconsize="small"] #/* @echo ALPHABETICAL_ID */ToolbarButton[rpcontinuedPermissive="true"] {
  list-style-image: var(--rpc-toolbarbutton-icon-disabled-16);
}
