
/*
 * Case: customizing.
 * ==> red flag.
 * (the !important keyword is necessary.)
 */
/* 32px is the default icon size in SeaMonkey */
toolbar > toolbarpaletteitem #requestpolicyToolbarButton,
#palette-box #requestpolicyToolbarButton {
  list-style-image:
    url(chrome://rpcontinued/skin/requestpolicy-icon-32-blocked.png) !important;
}
toolbar[iconsize="small"] > toolbarpaletteitem #requestpolicyToolbarButton {
  list-style-image:
    url(chrome://rpcontinued/skin/requestpolicy-icon-blocked.png) !important;
}


/*
 * Case: "default" (no other selector matched) and
 * Case: something has been blocked
 * ==> red flag.
 */

/* default: */ toolbar #requestpolicyToolbarButton,
/* blocked: */ toolbar #requestpolicyToolbarButton[requestpolicyBlocked="true"] {
  list-style-image:
    url(chrome://rpcontinued/skin/requestpolicy-icon-32-blocked.png);
}
/* default: */ toolbar[iconsize="small"] #requestpolicyToolbarButton,
/* blocked: */ toolbar[iconsize="small"] #requestpolicyToolbarButton[requestpolicyBlocked="true"] {
  list-style-image:
    url(chrome://rpcontinued/skin/requestpolicy-icon-blocked.png);
}


/*
 * Case: nothing has been blocked.
 * ==> grey flag.
 */

/* allowed: */ toolbar #requestpolicyToolbarButton[requestpolicyBlocked="false"] {
  list-style-image:
    url(chrome://rpcontinued/skin/requestpolicy-icon-32-allowed.png);
}
/* allowed: */ toolbar[iconsize="small"] #requestpolicyToolbarButton[requestpolicyBlocked="false"] {
  list-style-image:
    url(chrome://rpcontinued/skin/requestpolicy-icon-allowed.png);
}


/*
 * Case: blocking is disabled.
 * ==> yellow flag.
 */

toolbar #requestpolicyToolbarButton[requestpolicyPermissive="true"] {
  list-style-image:
    url(chrome://rpcontinued/skin/requestpolicy-icon-32-disabled.png);
}
toolbar[iconsize="small"] #requestpolicyToolbarButton[requestpolicyPermissive="true"] {
  list-style-image:
    url(chrome://rpcontinued/skin/requestpolicy-icon-disabled.png);
}
